# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserdatad
xcuserdata
xcshareddata

LeapSDK*

.DS_Store
*.ipch
src/leap.opensdf
*.sdf
*.user